body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f7f6;
    color: black;
}

.menu {
    background-color: #1e3c72;
    padding: 15px 0px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.9);
}

.menu-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.menu-logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.lista {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.lista a {
    color: #CBDCF7;
    text-decoration: none;
    font-size: 0.9rem; /* um rem vale 16px por padrão */
    font-weight: 500;
    transition: color 0.3s;
}

.lista a:hover {
    color: #fff;
}

.cabecalho {
    background-color: #2e4c82;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.cabecalho h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.cabecalho h2 {
    font-weight: 300px;
    font-style: italic;
    color: yellow;
}

.principal {
    max-width: 900px;
    margin: -40px auto 40px;
    padding: 20px;
}

.missao-valores {
    background-color: #FAF9F6;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

.objetivo {
    background-color: #FAF9F6;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

.arrecadacoes {
    background-color: #FAF9F6;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

.container-arr1 {
    background-color: #CBDCF7;
    padding: 20px;
    margin: 0 20px;
    border-radius: 20px;
    border-left: 6px solid #1e3c72;
    flex: 1;
}

.container-arr2 {
    background-color: #CBDCF7;
    padding: 20px;
    margin: 0 20px;
    border-radius: 20px;
    border-left: 6px solid #1e3c72;
    flex: 1;
}

.horas-atividades {
    background-color: #FAF9F6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

.atividade-objetivos p {
    background-color: #AFE1AF;
    color: green;
    padding: 9px;
    border-radius: 5px;
    font-weight: bold;
}
